.terraform/*
.tfstate
.tfvars

aws-infra/dev/*.tfstate*
aws-infra/dev/.terraform/*



aws-infra/prod/*.tfstate.*
aws-infra/terraform.tfstate
aws-infra/modules/VPN_Networking/scripts/failover.zip

peer*
scripts.sh

/on-prem/ansible/vars/wg_vars.yml
/template/jammy-server-cloudimg-amd64.img

.env
app/backend/fastapi
__pycache__

aws-infra/lambda

wireguard.sh